
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
  color: white; 
}

.grid-container{
  height: 400vh;
  display: grid;

}

.grid-page{
  padding: 20px;
  height: 92.5vh;


}
nav{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  
}
.page-1{
  background-color: rgb(54, 127, 223);
  font-style:normal;
  text-align: center;
  height: 10vh;
  
}

.page-2{
  background-color: rgb(63, 117, 194);
  height: 7vh;
}

.page-3{
  background-color: rgb(55, 96, 155);
  

}

.page-4{
  background-color: rgb(38, 78, 134);
 
}

.page-5{
  background-color: rgb(27, 61, 109);
  

}

.page-6{
  background-color: rgb(12, 44, 85);
  
}
.page-7{
  background-color: rgb(8, 33, 66);
  text-align: center;
  height: 15vh;
}

/*   position: absolute;
  --page: 0;
  top: calc(var(--page) * 100vh);
  height: 100vh;
  width: 100%;
  background: rgba(
    calc(var(--page) + 100),
    calc(var(--page) * 55),
    calc(var(--page) * 255),
    calc(var(--page) * 50)
  ); */

 /*  grid-template-rows: 100px;
  grid-template-columns: repeat(5, 100px);
  justify-items: center;
  align-items: center;
  justify-content: space-around; */

  .TAC,
  .about{
    font-family: Releway, sans-serif;
    text-decoration: none;
    color:black;
    background-color: blanchedalmond;

  }
.TAC:hover,
.about:hover{
  background-color:lightblue;
}

.TACtext{
  overflow: scroll;
  height: 20rem;
  padding: 2rem;

  font-size: 10px;
  background-color: white;
  border: white solid 5px;
  border-radius: 10px;
  color:black;
  
}

.TACtext::-webkit-scrollbar-track{
  background-color: black;
}

.hidden{
  display: none;
}

button{
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}